body {
    font-family: Arial, sans-serif;
    background-color: #f2f8f2;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('https://www.transparenttextures.com/patterns/christmas-pattern.png');
  }
  h1 {
    color: #d93d3d;
    font-size: 3em;
    margin-top: 20px;
    font-weight: bold;
  }
  #drawn-number {
    font-size: 5em;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #d93d3d;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
  }
  #history-list li {
    background-color: #fff;
    border: 2px solid #d93d3d;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    font-size: 2em;
    width: 70px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .spinner {
    display: inline-block;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #d93d3d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* RESPONSIVIDADE */
  @media (max-width: 768px) {
    h1 { font-size: 2.2em; }
    #drawn-number { font-size: 3.5em; padding: 15px; }
    #history-list li { width: 55px; font-size: 1.6em; padding: 10px; }
  }
  @media (max-width: 400px) {
    #drawn-number { font-size: 3em; }
    #history-list li { width: 48px; font-size: 1.4em; }
  }